@font-face {
  font-family: 'SpaceGroteskBold';
  font-display: swap;
  src:
    url('../../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../../fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGroteskMedium';
  font-display: swap;
  src:
    url('../../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('../../fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StaatlichesRegular';
  font-display: swap;
  src:
    url('../../fonts/Staatliches-Regular.woff2') format('woff2'),
    url('../../fonts/Staatliches-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
